<div class="faq-top"></div>
<%= render 'topnav' %>

<section class="faq-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="contact-hdr">Frequently Asked Questions</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h3 class="faq-question">How much of my donation goes to administrative costs?</h3>
				<p class="faq-answer">None!! We raise funds in other ways to pay for website costs etc.</p>
				<h3 class="faq-question">What does the sponsorship money buy?</h3>
				<p class="faq-answer">The sponsorship gives the child all the school supplies (paper, pencils, 	backpack etc), School fees, food, 2 uniforms a year, and 2 pairs of shoes per 	year</p>
				<h3 class="faq-question">How can only $34 a month pay for all of that?</h3>
				<p class="faq-answer"> The program is broken down over 12 months, the total yearly cost is $408. 	Some months are more expensive than others but at the end of the 12 months it 	all averages out so we are able to give the child what they need each month 	without asking for more money from the sponsor. </p>
				<h3 class="faq-question">Will I get updates?</h3>
				<p class="faq-answer">Yes, monthly updates and photos are given.</p>
				<h3 class="faq-question">Can I send my child more?</h3>
				<p class="faq-answer">Yes, if you would like to mail your child a photo of your family let us know 	we can give you an address. It is expensive to send a package but you are 	welcome to do that as well. If you want to give you child something extra maybe 	during the holidays, you can specify what you want purchased and we can buy it 	in country.</p>
				<h3 class="faq-question">Can I pick the child I sponsor?</h3>
				<p class="faq-answer">If that is something that is important to you then we can make that happen, 	but we know which children are in desperate need, so the child you receive 	needs you. Each child is special to Matumaini's Mission and which ever way you 	decide you will still be making a difference in a child's life which is the 	most important thing.</p>
				<h3 class="faq-question">Can I share my sponsored child on social media?</h3>
				<p class="faq-answer">Yes, we love you to share your child with others and show the good work you 	are doing. We do ask that you put our website link in the caption of the picture	.</p>
				<h3 class="faq-question">What happens when pay the sponsorship fee?</h3>
				<p class="faq-answer">The first photo and profile letter will come in the mail shortly after. You 	will receive a photo and profile of the child you will be sponsoring. The rest 	of the updates come by email unless otherwise specified.</p>
				<h3 class="faq-question"> Can the sponsorship or donation be a tax write off?</h3>
				<p class="faq-answer">Yes, Matumaini's Mission is registered with the IRS as a 501c3 non-profit. 	If you need extra receipts other than your paypal payment receipt for tax 	purposes just email us, we will gladly give you a yearly breakdown. </p>
				<h3 class="faq-question">How does the money reach the child?</h3>
				<p class="faq-answer">We do not hand cash to any child. We have in country staff that purchase the 	items then gives them to the child, as well as goes directly to the school and 	pays the fees. Matumaini's Mission in the states then receives all receipts and 	photos to keep on file.</p>
			</div>
			<div class="col-md-4">
	
			</div>
		</div>
	</div>
</section>

<%= render 'footer' %>