<section>
	<div class="topHome">

		<!-- NAV -->
		<div class="topNav">
			<nav class="navbar navbar-op" role="navigation">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example			-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a href="/" class="navbar-brand"><img src="assets/logoNav.png" /></a>
			    </div>
			
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <!--<ul class="nav navbar-nav">
			        <li class="active"><a href="#">Link</a></li>
			        <li><a href="#">Link</a></li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"			></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			            <li class="divider"></li>
			            <li><a href="#">One more separated link</a></li>
			          </ul>
			        </li>
			      </ul>-->
			      
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#">ABOUT</a></li>
			        <li><a href="#">SPONSORSHIP</a></li>
			        <li><a href="#">FAQ</a></li>
			        <li><a href="#">CONTACT</a></li>
			        <!--<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"			></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			          </ul>
			        </li>-->
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
		<!-- END TOPNAV -->
	
		<div class="container-fluid">
			
			<div class="row">
				<div class="col-md-3 col-md-offset-9">
					<div class="btn-box">
						<p class="text-center"><%= link_to "Donate Now", "#", class: "btn btn-home btn-block" %></p>
						<p class="text-center"><%= link_to "Sponsor a Child", "#", class: "btn btn-home btn-block" %></p>
						<p class="btn-text">Matumaini means "Hope" in Swahili. Our mission is to bring just that to under privileged widows and orphans in Rwanda and DRC Africa.</p>
					</div>
				</div>
			</div>
			
		</div>


	</div>
</section>

<section class="callToAction">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<p class="missionStatement text-center">Matumaini means "Hope" in Swahili. Our mission is to bring just that to under privileged widows and orphans in Rwanda and DRC Africa.</p>
				<p class="text-center"><a ng-hreg="#" class="missionStatementLink">- Learn more about Matumain's Mission -</a></p>
			</div>
		</div>
	</div>
</section>