<div class="secondary-top"></div>
<%= render 'topnav' %>

<section class="sponsorship-container">

	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="contact-hdr">Current Projects</h2>

              <p class="contact-text"><span style="font-family:'latobold';font-size:0.85em;color:#777;">* 100% of your donation goes to back the cause at hand. None of your donations are used to pay salaries. Everyone that works with Matumaini's Mission are volunteers.</p>

              <div class="project-container">

                <p class="project-header">Purchase a bed for only $60</p>
                <p class="contact-text">Most people especially children sleep on the floor. Some are lucky enough to get a mat between them and the dirt, but most sleep directly on the dirt. A bed will not only bring comfort but better hygiene and less sickness.</p>



              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="KEBKFT455YX48">
                <table>
                  <tr><td><input type="hidden" name="on0" value="Bed"></td></tr><tr><td><select name="os0" class="form-control">
                  <option value="1 bed">1 bed $60.00 USD</option>
                  <option value="2 beds">2 beds $120.00 USD</option>
                  <option value="3 beds">3 beds $180.00 USD</option>
                  <option value="4 beds">4 beds $240.00 USD</option>
                  <option value="5 beds">5 beds $300.00 USD</option>
                  <option value="6 beds">6 beds $360.00 USD</option>
                  <option value="7 beds">7 beds $420.00 USD</option>
                  <option value="8 beds">8 beds $480.00 USD</option>
                  <option value="9 beds">9 beds $540.00 USD</option>
                  <option value="10 beds">10 beds $600.00 USD</option>
                </select> </td></tr>
                </table>
                <input type="hidden" name="currency_code" value="USD">
                <br>
                <button type="submit" border="0" class="btn btn-home" alt="Paypal - the safer, easier way to pay online!">Purchase Bed</button>
                <!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>


            </div>

				<br>

              <div class="project-container">
          <p class="project-header">Purchase sewing maching for $150</p>
				<p class="contact-text">We work with a group of widows in the village of Gahara, they each go through a training to create items that they can sell at market. Once they graduate from this program they are set on their own to create a living. A sewing machine donated to a graduate will ensure she has the tools she needs to become more self reliant. </p>

              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="FGPNQZ2SJBKTU">
                <table>
                  <tr><td><input type="hidden" name="on0" value="Sewing Machine"></td></tr><tr><td><select name="os0" class="form-control">
                  <option value="1 Machine">1 Machine $150.00 USD</option>
                  <option value="2 Machine">2 Machine $300.00 USD</option>
                  <option value="3 Machine">3 Machine $450.00 USD</option>
                </select> </td></tr>
                </table>
                <input type="hidden" name="currency_code" value="USD">
                <br>
                <button type="submit" border="0" class="btn btn-home" alt="Paypal - the safer, easier way to pay online!">Purchase Sewing Machine</button>
                <!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
</div>
              <br>
        <div class="project-container">
              <p class="project-header">Donate to a sustainable water source</p>
              <p class="contact-text">The only  current water source is nearly 2 miles straight up and down a mountain. ​ Our goal is to provide a well, and pump in the village where water can become easily accessible. Water means life, and life for these people and these children would change dramatically if they had access to a clean water source.  Our goal is to raise $15000 to install this. </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="E4A23HD6ND564">
                <button type="submit" border="0" class="btn btn-home" alt="Paypal - the safer, easier way to pay online!">Donate Now</button>
                <!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
</div>
              <br>
<div class="project-container">
              <p class="project-header">Support the local football team (soccer)</p>
              <p class="contact-text">Currently the village and school have a football team. They are known by others as "the street kid team" They walk miles just to play the game against other schools and villages. When they show up they play in their bare feet because they have no cleats or even tennis shoes to compete with. They have no jerseys, but they have a love for the game. We would love to raise $900 to get the team cleats and jerseys. </p>

              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="W2EGQRSMEX2C2">
                <button type="submit" border="0" class="btn btn-home" alt="Paypal - the safer, easier way to pay online!">Donate Now</button>
                <!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
</div>
              <br>
<div class="project-container">


              <p class="contact-text">We all know that Santa doesn't really deliver Christmas, that christmas lies in the spirit of giving. This Christmas Matumaini's Mission would like to sponsor a Christmas dinner and a Christmas Care package for each Child in our care. The package would include, An outfit, a jacket, a blanket, a toy, an item of need (depending on the child), a bible, And Christmas dinner.</p>

              <p class="project-header">Buy a Christmas dinner for a child</p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="SQUJK2DBXZQLG">
              <table>
              <tr><td><input type="hidden" name="on0" value="Christmas Dinner"></td></tr><tr><td><select name="os0" class="form-control">
                  <option value="1 Dinner">1 Dinner $15.00 USD</option>
                  <option value="2 Dinners">2 Dinners $30.00 USD</option>
                  <option value="3 Dinners">3 Dinners $45.00 USD</option>
                  <option value="4 Dinners">4 Dinners $60.00 USD</option>
                  <option value="5 Dinners">5 Dinners $75.00 USD</option>
                  <option value="10 Dinners">10 Dinners $150.00 USD</option>
              </select> </td></tr>
              </table>
              <input type="hidden" name="currency_code" value="USD">
              <br/>
              <button stype="submit" border="0" class="btn btn-home" alt="Paypal - the safer, easier way to pay online!">Buy Christmas Dinner</button>
              <!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer,               easier way to pay online!">-->
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>

              <p class="project-header">Buy a blanket</p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="CM4VUG4QMZZ6E">
              <table>
              <tr><td><input type="hidden" name="on0" value="Christmas Care Package"></td></tr><tr><td><select name="os0" class="form-control">
                  <option value="1 Blanket">1 Blanket $15.00 USD</option>
                  <option value="2 Blankets">2 Blankets $30.00 USD</option>
                  <option value="3 Blankets">3 Blankets $45.00 USD</option>
                  <option value="4 Blankets">4 Blankets $60.00 USD</option>
                  <option value="5 Blankets">5 Blankets $75.00 USD</option>
                  <option value="10 Blankets">10 Blankets $80.00 USD</option>
                  <option value="20 Blankets">20 Blankets $160.00 USD</option>
              </select> </td></tr>
              </table>
              <input type="hidden" name="currency_code" value="USD">
              <br/>
              <button stype="submit" border="0" class="btn btn-home" alt="Paypal - the safer, easier way to pay online!">Buy A Blanket</button>
              <!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer,               easier way to pay online!">-->
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>

              <p class="project-header">Buy a jacket</p>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="WMDR9JFRNRP78">
              <table>
              <tr><td><input type="hidden" name="on0" value="Christmas Care Package"></td></tr><tr><td><select name="os0" class="form-control">
                  <option value="1 Jacket">1 Jacket $7.00 USD</option>
                  <option value="2 Jackets">2 Jackets $14.00 USD</option>
                  <option value="3 Jackets">3 Jackets $21.00 USD</option>
                  <option value="4 Jackets">4 Jackets $28.00 USD</option>
                  <option value="5 Jackets">5 Jackets $35.00 USD</option>
                  <option value="10 Jackets">10 Jackets $70.00 USD</option>
                  <option value="20 Jackets">20 Jackets $140.00 USD</option>
              </select> </td></tr>
              </table>
              <input type="hidden" name="currency_code" value="USD">
              <br/>
              <button stype="submit" border="0" class="btn btn-home" alt="Paypal - the safer, easier way to pay online!">Buy A Jacket</button>
              <!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer,               easier way to pay online!">-->
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>


              <!--<p class="project-header">Help Matumaini's Mission sponsor a Christmas dinner</p>
              <p class="contact-text">We all know that Santa doesn't really deliver Christmas, that christmas lies in the spirit of giving. This Christmas Matumaini's Mission would like to sponsor a Christmas dinner and a Christmas Care package for each Child in our care. The package would include, An outfit, a jacket, a blanket, a toy, an item of need (depending on the child), a bible, And Christmas dinner.</p>

              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="SQUJK2DBXZQLG">
                <table>
                  <tr><td><input type="hidden" name="on0" value="Christmas Care Package"></td></tr><tr><td><select name="os0" class="form-control">
                  <option value="1 Care Package">1 Care Package $80.00 USD</option>
                  <option value="2 Care Package">2 Care Package $160.00 USD</option>
                  <option value="3 Care Package">3 Care Package $240.00 USD</option>
                  <option value="4 Care Package">4 Care Package $320.00 USD</option>
                  <option value="5 Care Package">5 Care Package $400.00 USD</option>
                </select> </td></tr>
                </table>
                <input type="hidden" name="currency_code" value="USD">
                <br>
                <button type="submit" border="0" class="btn btn-home" alt="Paypal - the safer, easier way to pay online!">Get Care Package</button>
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
                <!--<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>-->
</div>
              <br>
<div class="project-container">
              <p class="project-header">Sponsor solar project</p>
              <p class="contact-text">There is no electricity in the village currently. Many huts do not have windows which makes it nearly impossible to see inside, even during the day. We would love to install a solar light on each home.</p>

              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="N47M9N98CV69S">
                <button type="submit" class="btn btn-home" alt="Paypal - the safer, easier way to pay online!">Donate Now</button>
                <!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
</div>
              <br>
              <p class="project-header">School playground project</p>
              <p class="contact-text">The school is nothing more than rooms with desks. We would love to add a playground to the school and playground equipment. </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="M7VQBWS4699WW">
                <button type="submit" class="btn btn-home" alt="Paypal">Donate Now</button>
                <!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>

			</div>
		</div>
	</div>

	
		</div>
	</div>
</section>

<%= render 'footer' %>

