<div class="secondary-top"></div>
<%= render 'topnav' %>

<section class="sponsorship-container">

	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="contact-hdr">Current Projects</h2>
				<p class="contact-text">We are currently raising funds to purchase each child a goat. There are 51 children in our care and each goat is $40. </p>
				<%= link_to "Buy a Goat", "", class: "btn btn-home" %>
				<br>
				<br>
				
				<p class="contact-text">We have a program that teaches widows a skill to sell items at market. They go through a training program at our facility learning how to sew, make jewelry, then sell. We love to give each graduate a sewing machine so she can continue providing for her family.</p>
				<%= link_to "Purchase a Machine", "", class: "btn btn-home" %>
			</div>
		</div>
	</div>

	
		</div>
	</div>
</section>

<%= render 'footer' %>