<div class="secondary-top"></div>
<%= render 'topnav' %>

<section class="sponsorship-container">

	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="contact-hdr">Sponsorship Opportunities</h2>
				<p class="contact-text">We currently have three ways that you can sponsor or support a child. You can pay a monthly gift of $34 or you can pay a yearly gift in the amount of $408. If you cannot commit to either one of those, you can also give a one-time gift that will go towards the next child sponsorship being raised.</p>
				
				<p class="contact-text">At this time we are able to accept gifts through paypal or by check. If you would like to set up the withdrawals via paypal, click the appropriate button below. If you would like to contribute by check please contact us for instructions.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail-alt">
					<h3 class="thumb-hdr">Sponsor Monthly</h3>
					<h3 class="thumb-amt">$34/month</h3>
					<p class="thumb-text">Your sponsorship provides the following:</p>
					<p class="thumb-text">&bull; tuition for the child to attend school</p>
					<p class="thumb-text">&bull; school supplies for the child</p>
					<p class="thumb-text">&bull; food for the student and their family</p>
					<p class="thumb-text">&bull; two uniforms, and shoes, twice a year</p>
                  <p class="thumb-text">&bull; hygiene supplies</p>
                  <p class="thumb-text">&bull; medical insurance</p>
					<br>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="JM8YSMA38MFQL">
						<!--<table>
						<tr><td><input type="hidden" name="on0" value="Monthly Child Sponsorship">Monthly Child Sponsorship</td></tr>						<tr><td><input type="text" name="os0" maxlength="200"></td></tr>
						</table>-->
						<p class="text-center"><button name="submit" class="btn btn-home">Sponsor Monthly</button></p>
						<!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="						submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">-->
					</form>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail-alt">
					<h3 class="thumb-hdr">Sponsor Yearly</h3>
					<h3 class="thumb-amt">$408/year</h3>
					<p class="thumb-text">Your sponsorship provides the following:</p>
					<p class="thumb-text">&bull; tuition for the child to attend school</p>
					<p class="thumb-text">&bull; school supplies for the child</p>
					<p class="thumb-text">&bull; food for the student and their family</p>
					<p class="thumb-text">&bull; two uniforms, and shoes, twice a year</p>
                  <p class="thumb-text">&bull; hygiene supplies</p>
                  <p class="thumb-text">&bull; medical insurance</p>
					<br>
					
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="EFZQTXTAA3GQW">
							<!--<table>
							<tr><td><input type="hidden" name="on0" value="Yearly Child Sponsorship">Yearly Child Sponsorship</td></tr><							tr><td><input type="text" name="os0" maxlength="200"></td></tr>
							</table>-->
							<p class="text-center"><button name="submit" class="btn btn-home">Sponsor Yearly</button></p>
							<!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="							submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">-->
						</form>
				
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail-alt">
					<h3 class="thumb-hdr">Donate</h3>
					<h3 class="thumb-amt">Any Amount</h3>
					<p class="thumb-text">Your gift goes towards providing:</p>
					<p class="thumb-text">&bull; tuition for the child to attend school</p>
					<p class="thumb-text">&bull; school supplies for the child</p>
					<p class="thumb-text">&bull; food for the student and their family</p>
					<p class="thumb-text">&bull; two uniforms, and shoes, twice a year</p>
                  <p class="thumb-text">&bull; hygiene supplies</p>
                  <p class="thumb-text">&bull; medical insurance</p>
					<br>
					
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="PGN2JEC8SA76Y">
		
							<p class="text-center"><button name="submit" class="btn btn-home">Donate Now</button></p>
							<!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" 		border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" 		height="1">-->
						</form>
					
				</div>
			</div>
			<p class="text-center contact-text padText"><span class="bold"><em>Monthly and Yearly sponsors will receive a photo and information about the child they are sponsoring.</em></span></p>
		</div>
	</div>
</section>

<%= render 'footer' %>