<div class="secondary-top"></div>
<%= render 'topnav' %>

<section class="sponsorship-container">

	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="contact-hdr">Our Story</h2>
				<p class="contact-text">Our story really began in 2011 when I made my first trip to Africa. I worked with schools in Uganda building libraries and gifting books.  In 2013 we decided to adopt 2 boys and we're led to a small country called the Democratic Republic of Congo. In the process of adoption we visited different African countries, doing small service missions. My love for Africa great each time.</p><p class="contact-text">One trip I came across a small primitive village in Rwanda. It was a Sunday and we attended a small church. I didn't speak their language but as I saw them celebrate and praise God for their many blessings I just couldn't hold in the tears. The church had a dirt floor and no roof. And many of the people looked malnurioshed. Many of the children were left orphaned from war, sickness, and poverty yet they stood before me dancing, clapping, and singing praise. A little girl came up and pulled on my skirt. She lifted her torn shirt to reveal a gaping wound. She didn't speak but simply knew I would do something to help. I bandaged her up and held her. She quickly fell asleep finally finding comfort. I was angry at God, asking him why would you allow this, why won't you help a people so humble. After coming home, I could never be the same. I was still angry saying "someone needs to do something for those people." Shortly after I realized that someone was me. 
				</p><p class="contact-text">That's why God created us, that's why we are blessed to live in a great nation where we can freely live, with abundance. Matumaini's Mission was then born. Matumaini means hope in my adopted children's native language. 52 children in the greatest need from this village were then selected and interviewed and then the hard part begun. We had to find a way to support them. Sponsors continued to step forward and give. Each time a new sponsor comes forward I cry with joy. I am fully invested in the lives of these children. I love them each individually.</p><p class="contact-text"> During our process one sweet girl died waiting for a sponsor. I was really shaken and felt like I had failed. If I had found her a sponsor would she have lived? Then I was given the advice from someone. Think of each child we have helped. Each is an individual, each is truly significant, and to the other 51 children there is hope. Even if one child's life is changed because of you, you have won. I want to give that charge to each of you. We may feel insignificant and that just giving a small portion each month won't change anything, but I'm here to tell you for that child, it changes their entire world and future. I have seen it with my own eyes. One day I hope Matumaini's Mission can care for hundreds of children, but each life, is a victory. </p>
				</p>
			</div>
		</div>
	</div>

	
		</div>
	</div>
</section>

<%= render 'footer' %>