// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.missionStatement { font-family:'latoregular';font-size:1.5em;margin-bottom:25px; }
a.missionStatementLink { font-family:'latoregular';color:#E99824;font-size:1.2em; }

.callToAction { border-top:1px solid #C7BFB9;border-bottom:1px solid #C7BFB9;padding-top:20px;padding-bottom:15px; }
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.boxes {border-top:3px solid #D5D1CF; }

.displayed { display:block;margin-left:auto;margin-right:auto;}
.btn-box { margin-top:300px;margin-right:50px;margin-left:30px;}
.btn-text { color:white;font-size:.9em;font-family:'latoregular';margin-top:15px;text-align:center; }

.footer { background:#262221; }

.partner { letter-spacing:1px;font-family:'latobold';color:#fff;font-size:1.7em;text-transform:uppercase;margin-top:50px; }
.contactHeader { letter-spacing:1px;font-family:'latoregular';text-transform:uppercase;text-align:right;color:#fff;margin-top:60px;margin-bottom:5px;font-size:1.175em }
.contactText { letter-spacing:1px;font-family:'latolight';color:#fff;text-align:right;margin-bottom:5px;font-size:1.1em }
.ftrCopy { margin-bottom:1px;margin-top:125px;font-family:'latoregular';text-transform:uppercase;color:#fff;text-align:center;font-size:.9em;letter-spacing:1px; }
.ftrText { margin-bottom:50px;font-family:'latoregular';text-transform:uppercase;color:#999;text-align:center;font-size:.85em;letter-spacing:1px; }